div {
  padding:5px;
}

#container {
  margin: 0 auto;
  padding:10px;
  min-height:500px;
}

#main_menu, #wf_settings, #wf_instruction, #wf_begin, #wf_container {
  margin: 80px auto;
  border: 1px dotted;
  width:500px;
  background-color:#736F6E;
  position:relative;
  padding-left:10px;
}
#words_flash_div #wf_heading {
  margin: 0 auto;
  padding:10px;
  color:#000;
  font-size:18px;
  width:260px;
}

#wf_begin, #wf_container{
  color:#000;
  background:none repeat scroll 0% 0% rgb(252, 252, 252);
  border:none;
}
#wf_begin div{
  text-align:center;
  font-size:22px;
}
#wf_words {
  margin: 0 auto;
  padding:10px;
}

#main_menu ul, #wf_settings div ul {
 list-style-type: none;
}

#main_menu ul li {
  padding:10px;
}
#main_menu ul li a {
  text-decoration: none;
  color: white;
  font-weight:bold;
}
img{
  border:none;
  padding-right:2px;
}
#wf_container .wrong, #wf_container .msg {
  font-weight : bold;
  font-size:18px;
  text-align:center;
}
.wrong { color:#7E2217;}
.msg { color:#347C17; }

input.wf_answer{
border : 1px solid Black;
background-color : #fff;
color : #0E1930;
font-size : 25px;
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
font-weight : bold;
width : 480px;
}

#wf_settings_font{
margin: 20px auto;
width: 200px;
font-size: medium;
}

/* letter flash */

#lf_test_main_container #lf_begin{
  margin:0 auto;
}

#result_container{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#lf_cp{
 margin:auto;
 width:500px;
}

#lf_description{
  text-align:center;
}

#lf_cp table{
  width:100%;
  text-align:left;
  border:1px solid;
}

#letter_flash_div #letter_set,#letter_res{
  background-color:#736f6e;
  color:#fff;
}

/*#letter_flash_div #lf_description{
  color:#736f6e;
  border:1px solid;
}*/

#letter_flash_div #test_table{
  color:#736f6e; 
}

#letter_flash_div{
  width:600px;
  margin:auto;
}

#lf_test_container table tbody{
  width:100%;
  border:none;
}

#lf_begin table tbody{
  width:100%;
  border:none;
}

#result_container table{
  width:100%;
  text-align:center;
  border:1px solid;
}

p{
  text-align : justify;
}

#lf_test{
  height:40%;
  width:100%;  
}

.chars{
  height:100px;
  width:100px;
  vertical-align:bootom;
 
}

.chars span{
 margin-top:50px;
 height:65px;
 display:block;
 
  
  
}

.large{
  font-size:100px;
}

.medium{
  font-size:75px;
}

.small{
  font-size:50px;
}